/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Wizard;
  src: url("fonts/WizardWorldSimplified-Kxr7.ttf");
}

@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather/Merriweather-Regular.ttf");
}

:root {
  /*color palette*/
  --grey: #999d96;
  --light_grey: #e2e8dd;
  --green: #709775;
  --dark_green: #1b4332;
  --bg_color: #1e352f;
  --font_color: #0d272b;

  /* house colors */
  --gryffindor-primary: #7b3745;
  --gryffindor-secondary: #e39d29;
  --hufflepuff-primary: #fdd32e;
  --hufflepuff-secondary: #1d1d1d;
  --slytherin-primary: #2f4933;
  --slytherin-secondary: #aeb5c1;
  --ravenclaw-primary: #284061;
  --ravenclaw-secondary: #a88d7b;

  /*typography*/

  /*margins and paddings*/

  /*shadows*/
  --shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--font_color);
  font-family: Merriweather;
}

main {
  margin: 1em;
  margin-top: 4em;
}

header {
  position: fixed;
  margin-top: -4em;

  background-color: var(--grey);
  width: 100%;
  padding: 0.5em;
  box-shadow: var(--shadow);

  z-index: 5;
}

h1 {
  margin-left: 0.5em;
  font-family: Wizard;
  color: var(--font_color);
}

h2 {
  font-family: Wizard;
}

/* ACTIONS MENU */
.menu {
  background-color: var(--grey);
  color: var(--font_color);
  height: calc(100vh - 6.5em);
  width: 17vw;
  padding: 1em;
  border-radius: 5px;
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  align-content: start;

  position: fixed;
  z-index: 5;
}

.list-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
  margin-top: 2em;
  margin-right: 2em;
}

.stats-wrapper {
  display: grid;
  gap: 0.5em;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-submit {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  align-items: center;
}

#searchInput {
  height: 1.5em;
  width: 123%;
}

/* .search-submit {
  margin: 0.5em;
} */

#filter-options,
#sort-options {
  width: 100%;
  padding: 0.5em;
}

/* STUDENT LIST */
.list {
  margin-left: 20vw;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: var(--grey);
  border-radius: 5px;
}

.student-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;

  margin: 1em;
  padding: 0.5em;

  background-color: var(--light_grey);
  border-radius: 5px;

  align-items: center;

  font-size: 80%;
  /* box-shadow: var(--shadow); */
}

.student-container:hover {
  cursor: pointer;
}

.student-photo {
  justify-self: center;
}

.student-photo img {
  width: 4.5em;
  border-radius: 20%;
}

.expelled {
  transform: rotate(-45deg);
  position: absolute;
  margin-top: 1.75em;
  margin-left: -0.5em;
  font-weight: bold;
  color: var(--light_grey);
  background-color: darkred;
  z-index: 2;
}

.expelled-img {
  filter: grayscale(100%);
}

.student-info {
  display: flex;
  flex-direction: column;
}

.name-and-house {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.name {
  font-weight: bold;
}

.roles-and-crest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.house-crest img {
  width: 3em;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100px;
}

/* STUDENT DETAILS MODAL */

.modal-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.student-modal {
  padding: 2em;
  border-radius: 5px;

  background-color: var(--light_grey);
  border-style: solid;
  border-color: var(--font_color);
  border-width: 5px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  justify-items: center;
  z-index: 10;
}

.modal-info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1em;

  align-items: center;
}

.modal-details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.modal-image {
  display: grid;
  align-items: center;
}

.modal-expelled {
  transform: rotate(-45deg);
  position: absolute;
  font-weight: bold;
  font-size: x-large;
  color: var(--light_grey);
  background-color: darkred;
  z-index: 2;
}

.modal-image img {
  max-width: 10em;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--font_color);
  border-width: 8px;
}

.modal-house {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  margin-top: -2em;
}

.modal-house img {
  max-width: 4em;
  aspect-ratio: 1/1;
  border-radius: 100px;
  object-fit: cover;
}

.buttons {
  display: flex;
  flex-direction: row;
}

button {
  margin-inline: 2em;
  margin-top: 1em;
  padding: 0.5em;
  /* align-self: start; */
}

.close {
  background-image: url(assets/close-icon.svg);
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1em;

  position: absolute;
  align-self: flex-start;
  justify-self: flex-end;
  /* margin: 0.5em; */
  margin: -1em;
}

.close:hover {
  cursor: pointer;
}

.student-name {
  font-weight: bold;
}

.gryffindor {
  background-color: var(--gryffindor-primary);
  border-color: var(--gryffindor-secondary);
}

.gryffindor .modal-img {
  border-color: var(--gryffindor-secondary);
}

.slytherin {
  background-color: var(--slytherin-primary);
  border-color: var(--slytherin-secondary);
}

.slytherin .modal-img {
  border-color: var(--slytherin-secondary);
}

.hufflepuff {
  background-color: var(--hufflepuff-primary);
  border-color: var(--hufflepuff-secondary);
}

.hufflepuff .modal-img {
  border-color: var(--hufflepuff-secondary);
}

.ravenclaw {
  background-color: var(--ravenclaw-primary);
  border-color: var(--ravenclaw-secondary);
}

.ravenclaw .modal-img {
  border-color: var(--ravenclaw-secondary);
}

/* PREFECTS MODAL */

.prefects-modal {
  padding: 2em;
  border-radius: 5px;
  width: 30vw;

  background-color: var(--green);
  border-style: solid;
  border-color: var(--font_color);
  border-width: 5px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  justify-items: center;
  align-content: center;
  z-index: 15;
}

.prefects-message {
  display: grid;
  gap: 0.5em;
}

/* FEEDBACK POPUPS */

.feedback-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;

  display: flex;
  align-items: start;
  justify-content: end;
  z-index: 15;
  pointer-events: none;
}

.feedback {
  background-color: var(--dark_green);
  border-style: solid;
  border-color: var(--dark_green);
  color: var(--light_grey);
  border-width: 5px;
  padding: 1em;
  margin-right: 1em;
  pointer-events: initial;
}

.error {
  background-color: var(--gryffindor-secondary);
  border-color: var(--gryffindor-secondary);
}

/* EFFECTS & ANIMATIONS */

.student-container:hover {
  transform: scale(103%);
}

.hidden {
  display: none;
}

.fadeInAndOut {
  animation: fadeInAndOut 3s;
}

@keyframes fadeInAndOut {
  0% {
    filter: opacity(0%);
  }
  25% {
    filter: opacity(100%);
  }
  75% {
    filter: opacity(100%);
  }
  100% {
    filter: opacity(0%);
  }
}
